body {
    background-color: cornsilk;
}

#greekGod {
    margin: 10px;
    padding: 5px;
    height: 250px;
    width: 750px;
}

#sweets {
    margin: 10px;
    padding: 5px;
    height: 250px;
    width: 750px;
}