. body {
    margin: 0;
    padding: 0;
}


.jumbotron {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    width: 100%;
    padding-left: 0;
    padding-right: 0;

}

.bg-white {
    opacity: .6;
    width: 100%;
}

.text-dark {
    text-align: center;
    font-weight: 400;
}

.jumbotroncontainer {
    width: 100%;
    padding: 0%;
}

.card-footer {
    text-align: right;
}

.card-header {
    text-align: left;
}
