body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    background-color: white;
}

div {
    margin: 5em;
    width: 10px;
    height: 10px;
    padding 5px;
}

.message message-info {
    color: blue;
}

.message message-success {
    color: green;
}

.message message-warning {
    color: yellow;
}

.message message-error {
    color: red;
}