.invisible {
    display: none;
}

.highlighted {
    background-color: SpringGreen;
}

/*----------For Traversing Exercise---------------*/

#btn-park {
    width: 150px;
    height: 25px;
}

.btn-flop {
    background-color: orange;
}