#top-heading {
    text-indent: 12px;
}

#outerBox {
    margin: 5px;
    padding: 10px;
    border: 1px;
    border-color: #E6ECF0;
    height: 300px;
    width: 800px;
    background-color: lightskyblue;
}

#innerBox {
    height: 190px;
    width: 702px;
    background-color: white;
    border: 10px;
    border-color: black;

}

#left-box {
    font-size: small;
    text-align: center;
    border: 2px solid darkgray;
    width: 230px;
    height: 190px;
    float: left;
    color: black;
}

#middle-box {
    font-size: small;
    text-align: center;
    background-color: orange;
    border: 2px solid darkgray;
    width: 230px;
    height: 190px;
    float: left;
}

#right-box {
    font-size: small;
    text-align: center;
    border: 2px solid darkgray;
    width: 230px;
    height: 190px;
    float: left;
}

#map {
    height: 400px;
}

#lon-lat-btn {
    background-color: greenyellow;
}